/*
 * Base configuration for all execution environments
 */

process {
  // Global process settings
  errorStrategy = 'retry'
  maxRetries = 2
  
  // Resource labels
  withLabel: 'low_memory' {
    memory = '4 GB'
    cpus = 2
  }
  
  withLabel: 'medium_memory' {
    memory = '16 GB'
    cpus = 4
  }
  
  withLabel: 'high_memory' {
    memory = '32 GB'
    cpus = 8
  }
  
  withLabel: 'very_high_memory' {
    memory = '64 GB'
    cpus = 16
  }
}

// Default parameters
params {
  // Maximum resources
  max_memory = '128 GB'
  max_cpus = 32
  max_time = '240.h'
  
  // Pipeline options
  help = false
  version = false
  
  // Output options
  publish_dir_mode = 'copy'
  
  // Validation options
  validate_params = true
  show_hidden_params = false
}