/*
 * Docker configuration
 */

docker {
  enabled = true
  runOptions = '--user $(id -u):$(id -g)'
  fixOwnership = true
}

process {
  container = 'python:3.9'
  
  withName: 'VALIDATE_FASTA|SUMMARY_REPORT|SPLIT_STRAINS|CLUSTER_SUMMARY' {
    container = 'python:3.9'
  }
  
  withName: 'MASH_SKETCH|MASH_DIST' {
    container = 'quay.io/biocontainers/mash:2.3--hb105d93_9'
  }
  
  withName: 'BIN_SUBSAMPLE' {
    container = 'python:3.9'
  }
  
  withName: 'POPPUNK_MODEL|POPPUNK_ASSIGN' {
    container = 'staphb/poppunk:2.7.5'
  }
  
  withName: 'SKETCHLIB_DISTS|GENERATE_NJ|SKA_BUILD|SKA_ALIGN|SKA_MAP|IQ_TREE|GUBBINS|FASTBAPS' {
    container = 'poppunk/poppipe:latest'
  }
}