/*
 * Execution profiles for different environments
 */

profiles {
  
  // Standard profile (default)
  standard {
    includeConfig 'base.config'
    includeConfig 'docker.config'
  }
  
  // Docker profile
  docker {
    includeConfig 'base.config'
    includeConfig 'docker.config'
  }
  
  // Singularity profile
  singularity {
    includeConfig 'base.config'
    includeConfig 'singularity.config'
  }
  
  // Test profile for small datasets
  test {
    includeConfig 'base.config'
    includeConfig 'docker.config'
    includeConfig 'test.config'
  }
  
  // Test profile for debugging segmentation faults
  test_segfault {
    includeConfig 'base.config'
    includeConfig 'docker.config'
    includeConfig 'test_segfault.config'
  }
  
  // Local execution profile - optimized for 22 CPU, 64GB RAM with segfault prevention
  local {
    includeConfig 'base.config'
    includeConfig 'local.config'
    includeConfig 'docker.config'
  }
  
  // SLURM cluster profile
  slurm {
    includeConfig 'base.config'
    includeConfig 'singularity.config'
    
    process {
      executor = 'slurm'
      queue = 'normal'
      clusterOptions = '--account=your_account'
      
      withLabel: 'high_memory' {
        queue = 'highmem'
        time = '24.h'
      }
      
      withLabel: 'very_high_memory' {
        queue = 'highmem'
        time = '48.h'
      }
    }
    
    executor {
      queueSize = 50
      submitRateLimit = '10 sec'
    }
  }
  
  // PBS cluster profile
  pbs {
    includeConfig 'base.config'
    includeConfig 'singularity.config'
    
    process {
      executor = 'pbs'
      queue = 'workq'
      
      withLabel: 'high_memory' {
        queue = 'highmem'
        time = '24.h'
      }
    }
  }
  
  // Cloud profile (AWS Batch)
  aws {
    includeConfig 'base.config'
    
    process {
      executor = 'awsbatch'
      queue = 'nextflow-queue'
      container = 'your-ecr-repo/poppunk-poppipe'
    }
    
    aws {
      region = 'us-east-1'
      batch {
        cliPath = '/home/ec2-user/miniconda/bin/aws'
      }
    }
  }
  
  // Conda profile (for local development)
  conda {
    includeConfig 'base.config'
    
    process {
      conda = 'environment.yml'
    }
    
    conda {
      enabled = true
      cacheDir = './conda_cache'
    }
  }
}