/*
 * Singularity configuration
 */

singularity {
  enabled = true
  autoMounts = true
  cacheDir = './singularity_cache'
}

process {
  container = 'docker://python:3.9'
  
  withName: 'VALIDATE_FASTA|SUMMARY_REPORT|SPLIT_STRAINS|CLUSTER_SUMMARY' {
    container = 'docker://python:3.9'
  }
  
  withName: 'MASH_SKETCH|MASH_DIST' {
    container = 'docker://quay.io/biocontainers/mash:2.3--hb105d93_9'
  }
  
  withName: 'BIN_SUBSAMPLE' {
    container = 'docker://python:3.9'
  }
  
  withName: 'POPPUNK_MODEL|POPPUNK_ASSIGN' {
    container = 'docker://staphb/poppunk:2.7.5'
  }
  
  withName: 'SKETCHLIB_DISTS|GENERATE_NJ|SKA_BUILD|SKA_ALIGN|SKA_MAP|IQ_TREE|GUBBINS|FASTBAPS' {
    container = 'docker://poppunk/poppipe:latest'
  }
}