/*
 * Test configuration for small datasets
 */

params {
  // Test data paths
  input = './test_data'
  resultsDir = './test_results'
  
  // Reduced resources for testing
  threads = 2
  ram = '4 GB'
  
  // Faster parameters for testing
  mash_s = 100
  mash_thresh = 0.01
  min_cluster_size = 2
  fastbaps_levels = 2
  
  // Disable time-consuming steps for quick testing
  iqtree_mode = 'fast'
  gubbins_iterations = 2
}

process {
  // Reduced resources for all processes
  cpus = 2
  memory = '4 GB'
  
  withName: 'POPPUNK_MODEL|POPPUNK_ASSIGN' {
    cpus = 2
    memory = '8 GB'
  }
  
  withName: 'MASH_DIST' {
    memory = '8 GB'
  }
}